
<div *ngIf="dataReady" class="container">
    <app-title></app-title>
    <br>
    <app-map></app-map>
    <br>
    <br>
    <h2><b>Sales by Commerce</b></h2>
    <br>
    <br>

    <div class="row graphs">
        <div class="col-sm-6">
            <app-donut-sales-chart [commerceArray]="commerceArray"></app-donut-sales-chart>
        </div>
        <div class="col-sm-6">
            <app-bar-chart></app-bar-chart>
        </div>

    </div>
    <hr>
    <br>
    <br>
    <h2><b>Commerce Records</b></h2>
    <br>
    <br>
    <div class="table">
        <app-table [commerceArray]="commerceArray"></app-table>
    </div>
    
    

</div>

<div *ngIf="!dataReady">
    <app-title></app-title>
    <br>
    <app-spinner width="7rem" height="7rem"></app-spinner>

</div>








<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>