
<div *ngIf="dataReady" class="container">
    <app-title></app-title>
    <br>
    <app-map></app-map>
    <br>
    <h2>Commerce Records</h2>
    <br>
    <br>
    <app-table [commerceArray]="commerceArray"></app-table>
    <br>
    <br>
    <h2>Sales by Commerce</h2>
    <br>
    <br>

    <div class="row graphs">
        <div class="col-sm-6">
            <app-donut-sales-chart [commerceArray]="commerceArray"></app-donut-sales-chart>
        </div>
        <div class="col-sm-6">
            <app-bar-chart></app-bar-chart>
        </div>

    </div>

</div>

<div *ngIf="!dataReady">
    <app-title></app-title>
    <br>
    <app-spinner width="7rem" height="7rem"></app-spinner>

</div>








<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>