<div *ngIf="dataReady" class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">NIT</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Owner</th>
        <th scope="col">Schedule</th>
        <th scope="col">Days</th>
        <th scope="col">Accumulated Sales</th>
      </tr>
    </thead>
    <tbody *ngFor="let commerce of commerceArray">
      <tr (click)="scrollToElement(commerce)">
        <th scope="row">{{commerce.name}}</th>
        <td>{{commerce.nit}}</td>
        <td>{{commerce.address}}</td>
        <td>{{commerce.phone}}</td>
        <td>{{commerce.owner}}</td>
        <td>{{commerce.schedule}}</td>
        <td>{{commerce.days}}</td>
        <td>{{commerce.sales}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!dataReady">
  <app-spinner></app-spinner>
</div>