<div *ngIf="dataReady" class="container">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">NIT</th>
        <th scope="col">Address</th>
        <th scope="col">Accumulated Sales</th>
      </tr>
    </thead>
    <tbody *ngFor="let commerce of commerceArray">
      <tr>
        <th scope="row">{{commerce.name}}</th>
        <td>{{commerce.nit}}</td>
        <td>{{commerce.address}}</td>
        <td>{{commerce.sales}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="!dataReady">
<app-spinner></app-spinner>
</div>